* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
}

$header1: 3rem;
$header2: 3.5rem;
$header3: 4rem;
$header4: 5rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #00c01a, #9e9e9e);
$background-color: #6c6c6c;
$black-text: black;
$white-text: white;
@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

h1 {
  font-size: $header1;
}
h2 {
  font-size: $header2;
}
h3 {
  font-size: $header3;
}
h4 {
  font-size: $header4;
}

ul {
  list-style: none;
}

li,
button,
label,
input,
a,
p {
  font-size: $text;
}

a {
  text-decoration: none;
  color: $black-text;
}

.main-head {
  width: 95%;
  margin: auto;
  padding: 0rem 3rem;
}

nav {
  @include flex(space-between, center, row);
  min-height: 10vh;
  padding: 1rem;
  flex-wrap: wrap;
  .logo {
    @include flex(flex-start, center, row);
    flex: 1 1 10rem;
    h1 {
      margin-left: 1rem;
    }
  }
  ul {
    @include flex(space-evenly, center, row);
    flex: 1 1 30rem;
  }
}

.active {
  background: $background-color;
  color: whitesmoke;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
