.home {
  @include flex(center, center, row);
  width: 95%;
  margin: auto;
  min-height: 90vh;
  flex-wrap: wrap;
  overflow: hidden;
  .home-image {
    flex: 2 2 70rem;
    svg {
      width: 100%;
    }
  }
}

.hero-text {
  @include flex(center, left, column);
  flex: 1 1 60rem;
  padding-left: 20rem;
}

.home-social {
  flex: 1 1 10rem;
  margin-top: 4rem;
  a {
    margin-right: 5rem;
    img {
      width: 67px;
      height: 67px;
    }
  }
}

/*Cursor*/
.txt-type > .txt {
  border-right: 0.2rem solid black;
}

#SmallBlueStars {
  opacity: 1;
  animation: twinkle 2s linear 1s infinite alternate;
}

#RedStars {
  opacity: 1;
  animation: twinkle 1s linear 3s infinite alternate;
}

@keyframes twinkle {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
