.work {
  min-height: 90vh;
  position: relative;
  @include flex(space-between, flex-start, column);
  overflow: hidden;
}

.work-caption,
.work-caption-block {
  position: absolute;
  max-width: 30%;
  min-width: 494px;
  height: $header4;
  top: 10%;
  left: 5%;
  padding: 0.5rem;
}

.work-caption {
  color: $white-text;
  background-color: transparent;
  z-index: 1;
}

.work-caption-block {
  background-color: $background-color;
  z-index: 0;
}

.work-images {
  position: absolute;
  @include flex(space-around, center, row);
  width: 100%;
  top: 25%;
  padding: 0rem 20rem;
  flex-wrap: wrap;
  .sample {
    margin: 2rem 0rem;
    width: 390px;
    min-width: 250px;
    border-radius: 3.5rem;
    transition: all 0.3s ease-in-out;
  }
  .sample:hover {
    transform: scale(1.2);
  }
}

#particles-js {
  height: 90vh;
  min-height: 90vh;
  background-color: black;
}
