* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 5rem;
}

ul {
  list-style: none;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: #12121f;
}

.main-head {
  width: 95%;
  margin: auto;
  padding: 0rem 3rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  padding: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

nav .logo h1 {
  margin-left: 1rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

.active {
  background: #6c6c6c;
  color: whitesmoke;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95%;
  margin: auto;
  min-height: 90vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.home .home-image {
  -webkit-box-flex: 2;
      -ms-flex: 2 2 70rem;
          flex: 2 2 70rem;
}

.home .home-image svg {
  width: 100%;
}

.hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60rem;
          flex: 1 1 60rem;
  padding-left: 20rem;
}

.home-social {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
  margin-top: 4rem;
}

.home-social a {
  margin-right: 5rem;
}

.home-social a img {
  width: 67px;
  height: 67px;
}

/*Cursor*/
.txt-type > .txt {
  border-right: 0.2rem solid black;
}

.work {
  min-height: 90vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.work-caption,
.work-caption-block {
  position: absolute;
  max-width: 30%;
  min-width: 494px;
  height: 5rem;
  top: 10%;
  left: 5%;
  padding: 0.5rem;
}

.work-caption {
  color: white;
  background-color: transparent;
  z-index: 1;
}

.work-caption-block {
  background-color: #6c6c6c;
  z-index: 0;
}

.work-images {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  top: 25%;
  padding: 0rem 20rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work-images .sample {
  margin: 2rem 0rem;
  width: 390px;
  min-width: 250px;
  border-radius: 3.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.work-images .sample:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#particles-js {
  height: 90vh;
  min-height: 90vh;
  background-color: black;
}
/*# sourceMappingURL=style.css.map */