* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: black;
  color: whitesmoke;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 5rem;
}

ul {
  list-style: none;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: white;
}

.main-head {
  width: 100%;
  padding: 0rem 3rem;
  height: 10vh;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  padding: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 4;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

nav .logo h1 {
  margin-left: 1rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

.active {
  background: #6c6c6c;
  color: whitesmoke;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

@media screen and (max-width: 680px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  h4 {
    font-size: 4rem;
  }
  .main-head {
    width: 100%;
    margin: auto;
    padding: 0rem 3rem;
    height: 10vh;
  }
}

.home {
  display: -ms-grid;
  display: grid;
  width: 95%;
  min-height: 90vh;
  padding: 2rem;
  margin: auto;
  margin-top: 10vh;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.hero-text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  padding-left: 20rem;
}

.home-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
  margin: 1rem;
  width: 95%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
}

.home-social a img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 2.5rem;
  height: 2.5rem;
}

/*Cursor*/
.txt-type > .txt {
  border-right: 0.2rem solid white;
}

.scroll-down {
  position: absolute;
  z-index: 1;
  bottom: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mouse {
  width: 2.5rem;
  height: 5rem;
  border: 2px solid whitesmoke;
  border-radius: 2rem;
  margin-bottom: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mouse span {
  width: 1rem;
  height: 1rem;
  background-color: whitesmoke;
  display: block;
  border-radius: 50%;
  margin: auto;
  -webkit-animation: move-wheel 1s linear infinite;
          animation: move-wheel 1s linear infinite;
}

.arrow span {
  width: 1rem;
  height: 1rem;
  display: block;
  border: 2px solid transparent;
  border-right-color: white;
  border-bottom-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: arrow-down 1s alternate infinite;
          animation: arrow-down 1s alternate infinite;
}

@-webkit-keyframes move-wheel {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

@keyframes move-wheel {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

@-webkit-keyframes arrow-down {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes arrow-down {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 680px) {
  .hero-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 20%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60rem;
            flex: 1 1 60rem;
    padding: 2rem;
    z-index: -1;
  }
  .home-image {
    position: absolute;
    z-index: -1;
    -webkit-box-flex: 2;
        -ms-flex: 2 2 70rem;
            flex: 2 2 70rem;
    height: 90vh;
  }
  .home-image svg {
    width: 100%;
  }
}

.engineering {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  width: 95%;
  min-height: 90vh;
  margin: auto;
  margin-top: 10vh;
  padding: 2rem;
  scroll-margin-top: 10vh;
}

.engineering .subtitle {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-image: -webkit-gradient(linear, right top, left top, from(#ffffff55), to(#ffffff00));
  background-image: linear-gradient(to left, #ffffff55, #ffffff00);
}

.photography {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  width: 95%;
  min-height: 80vh;
  margin: auto;
  margin-top: 10vh;
  padding: 2rem;
}

.photography .subtitle {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-image: -webkit-gradient(linear, right top, left top, from(#ffffff55), to(#ffffff00));
  background-image: linear-gradient(to left, #ffffff55, #ffffff00);
}

.carousel-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 500px;
}

.carousel-slide img {
  padding: 0 10%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
}

#prevBtn {
  -webkit-filter: drop-shadow(16px 16px 20px white) invert(1);
          filter: drop-shadow(16px 16px 20px white) invert(1);
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 5%;
  opacity: 0.5;
  cursor: pointer;
}

#nextBtn {
  -webkit-filter: drop-shadow(16px 16px 20px white) invert(1);
          filter: drop-shadow(16px 16px 20px white) invert(1);
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 5%;
  opacity: 0.5;
  cursor: pointer;
}

/*Mobile responsiveness*/
@media screen and (max-width: 708px) {
  /*Burger menu*/
  .burger {
    cursor: pointer;
    position: relative;
    width: 3.6rem;
    height: 3.6rem;
    right: 1rem;
    top: 25%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 4;
  }
  .burger .burger-bar,
  .burger .burger-bar::before,
  .burger .burger-bar::after {
    content: "";
    background-color: #6c6c6c;
    position: absolute;
    height: 0.4rem;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .burger .burger-bar {
    top: 50%;
    margin: 0;
  }
  .burger .burger-bar::before {
    margin-top: -0.8rem;
  }
  .burger .burger-bar::after {
    margin-top: 0.8rem;
  }
  .burger.expanded .burger-bar {
    background: transparent;
  }
  .burger.expanded .burger-bar::before,
  .burger.expanded .burger-bar::after {
    background: white;
    margin-top: 0;
  }
  .burger.expanded .burger-bar::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger.expanded .burger-bar::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .nav-links {
    background: grey;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
  }
  .nav-links a {
    color: whitesmoke;
    font-size: 2.5rem;
    text-decoration: underline;
  }
  .nav-links.expanded {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
/*# sourceMappingURL=style.css.map */