* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 5rem;
}

ul {
  list-style: none;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: black;
}

.main-head {
  width: 95%;
  margin: auto;
  padding: 0rem 3rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  padding: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 4;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

nav .logo h1 {
  margin-left: 1rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

.active {
  background: #6c6c6c;
  color: whitesmoke;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

@media screen and (max-width: 680px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  h4 {
    font-size: 4rem;
  }
  ul {
    list-style: none;
  }
  li,
  button,
  label,
  input,
  a,
  p {
    font-size: 2rem;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .main-head {
    width: 95%;
    margin: auto;
    padding: 0rem 3rem;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95%;
  margin: auto;
  min-height: 90vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-image {
  -webkit-box-flex: 2;
      -ms-flex: 2 2 70rem;
          flex: 2 2 70rem;
}

.home-image svg {
  width: 100%;
}

.hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60rem;
          flex: 1 1 60rem;
  padding-left: 20rem;
}

.home-social {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
  margin-top: 4rem;
}

.home-social a {
  margin-right: 5rem;
}

.home-social a img {
  width: 67px;
  height: 67px;
}

/*Cursor*/
.txt-type > .txt {
  border-right: 0.2rem solid black;
}

#SmallBlueStars {
  opacity: 1;
  -webkit-animation: twinkle 2s linear 1s infinite alternate;
          animation: twinkle 2s linear 1s infinite alternate;
}

#RedStars {
  opacity: 1;
  -webkit-animation: twinkle 1s linear 3s infinite alternate;
          animation: twinkle 1s linear 3s infinite alternate;
}

@-webkit-keyframes twinkle {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes twinkle {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 680px) {
  .hero-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 20%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60rem;
            flex: 1 1 60rem;
    padding: 2rem;
    z-index: -1;
  }
  .home-social {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 10rem;
            flex: 1 1 10rem;
    margin-top: 4rem;
  }
  .home-social a {
    margin-right: 5rem;
  }
  .home-social a img {
    width: 32px;
    height: 32px;
  }
  .home-image {
    position: absolute;
    z-index: -1;
    -webkit-box-flex: 2;
        -ms-flex: 2 2 70rem;
            flex: 2 2 70rem;
    height: 90vh;
  }
  .home-image svg {
    width: 100%;
  }
}

.work {
  height: 100%;
  min-height: 90vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-caption,
.work-caption-block {
  position: absolute;
  height: 5rem;
  top: 10%;
  left: 5%;
}

.work-caption {
  color: black;
  max-width: 30%;
  background-color: transparent;
  z-index: 1;
  padding: 0.5rem;
}

.work-caption-block {
  background-color: white;
  z-index: 0;
  max-width: 30%;
  width: 0px;
  -webkit-animation: box-entrance 1s ease-in 1s forwards;
          animation: box-entrance 1s ease-in 1s forwards;
}

@-webkit-keyframes box-entrance {
  from {
    width: 0px;
  }
  to {
    width: 494px;
  }
}

@keyframes box-entrance {
  from {
    width: 0px;
  }
  to {
    width: 494px;
  }
}

.work-images {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  top: 25%;
  padding: 0rem 20rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work-images .sample {
  margin: 2rem 0rem;
  width: 390px;
  min-width: 250px;
  border-radius: 3.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.work-images .sample:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  z-index: 3;
}

.resume {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 5%;
  left: 5%;
}

.resume img {
  width: 5rem;
}

.resume h1 {
  color: white;
}

#particles-js {
  height: 90vh;
  min-height: 90vh;
  background-color: black;
}

@media screen and (max-width: 1700px) {
  .work-caption-block {
    display: none;
  }
  .work-caption {
    word-wrap: break-word;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    min-width: none;
    color: white;
  }
}

@media screen and (max-width: 1080px) {
  .work-images {
    padding: 0rem 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .work-images .sample {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 10px;
            flex: 1 1 10px;
    max-width: 250px;
    margin: 1rem;
  }
}

@media screen and (max-width: 932px) {
  .work-images .sample {
    margin: 2rem 0rem;
    width: 390px;
    min-width: 150px;
    border-radius: 3.5rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .resume {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: 0%;
    left: 5%;
  }
  .resume img {
    width: 5rem;
  }
  .resume h1 {
    color: white;
  }
}

@media screen and (max-width: 680px) {
  .work-images {
    display: none;
  }
  .work-caption {
    word-wrap: break-word;
    margin: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    max-width: 100%;
    color: white;
  }
  .resume {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  .resume img {
    width: 5rem;
  }
  .resume h1 {
    color: white;
  }
}

/*Mobile responsiveness*/
@media screen and (max-width: 708px) {
  /*Burger menu*/
  .burger {
    cursor: pointer;
    position: relative;
    width: 3.6rem;
    height: 3.6rem;
    right: 2rem;
    top: 25%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
  }
  .burger .burger-bar,
  .burger .burger-bar::before,
  .burger .burger-bar::after {
    content: "";
    background-color: #6c6c6c;
    position: absolute;
    height: 0.4rem;
    width: 100%;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .burger .burger-bar {
    top: 50%;
    margin: 0;
  }
  .burger .burger-bar::before {
    margin-top: -0.8rem;
  }
  .burger .burger-bar::after {
    margin-top: 0.8rem;
  }
  .burger.expanded .burger-bar {
    background: transparent;
  }
  .burger.expanded .burger-bar::before,
  .burger.expanded .burger-bar::after {
    background: white;
    margin-top: 0;
  }
  .burger.expanded .burger-bar::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger.expanded .burger-bar::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .nav-links {
    background: grey;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
  }
  .nav-links a {
    color: whitesmoke;
    font-size: 2.5rem;
    text-decoration: underline;
  }
  .nav-links.expanded {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
/*# sourceMappingURL=style.css.map */